@font-face {
    font-family: 'GohuFont';
    src: url('/fonts/Gohu/GohuFont11NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontMono';
    src: url('/fonts/Gohu/GohuFont11NerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontPropo';
    src: url('/fonts/Gohu/GohuFont11NerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFont14';
    src: url('/fonts/Gohu/GohuFont14NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontMono14';
    src: url('/fonts/Gohu/GohuFont14NerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontPropo14';
    src: url('/fonts/Gohu/GohuFont14NerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUni11';
    src: url('/fonts/Gohu/GohuFontuni11NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUniMono11';
    src: url('/fonts/Gohu/GohuFontuni11NerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUniPropo11';
    src: url('/fonts/Gohu/GohuFontuni11NerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUni14';
    src: url('/fonts/Gohu/GohuFontuni14NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUniMono14';
    src: url('/fonts/Gohu/GohuFontuni14NerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GohuFontUniPropo14';
    src: url('/fonts/Gohu/GohuFontuni14NerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Example usage */
body {
    font-family: 'GohuFont', sans-serif;
}

