#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    box-sizing: border-box;
    padding: 5px;
}


a,
input,
.text {
    font-size: 10px;
}

.fc,
.fr {
    display: flex;
    gap: 5px;
    margin: 3px;
}

.fc {
    flex-direction: column;
}

.fr {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.text {
    font-size: 10px;
}

#status_term {
    gap: 3px;
    margin-bottom: 15px;
}

#termcont {
    padding: 5px;
    font-size: 15px;
}

#term,
#sumtime {
    margin: 5px;
    width: calc(100vw - 100px);
    min-width: calc(100vw - 100px);
}


#canv {
    width: 10px;
    height: auto;
}

#controls {
    display: flex;
    gap: 5px;
    margin: 3px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}


#settings_time {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-origin: center;
    zoom: 0.5;
}

#settings_buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-origin: center;
    zoom: 0.5;
}

#schedules_overlay {
    zoom: 0.3;
}

#clock_cont {
    zoom: 0.3;
    margin: 0 auto;
}

#schedules {
    font-size: 2rem;
}
