<div id="schedules_container">
    <div id="schedules_time_pickers">
        <div id="schedules_time_picker_from" class="time_picker">
            <div class="tp_unit" data-max="23">
                <div class="tp_value">00</div>
                <div class="tp_label">HRS</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">MIN</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">SEC</div>
            </div>
        </div>

        <div id="schedules_time_pickers_arrow">&rarr;</div>

        <div id="schedules_time_picker_to" class="time_picker">
            <div class="tp_unit" data-max="23">
                <div class="tp_value">00</div>
                <div class="tp_label">HRS</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">MIN</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">SEC</div>
            </div>
        </div>

        <div id="schedules_time_pickers_arrow">=</div>

        <div id="schedules_time_picker_duration" class="time_picker">
            <div class="tp_unit" data-max="23">
                <div class="tp_value">00</div>
                <div class="tp_label">HRS</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">MIN</div>
            </div>

            <div class="tp_divider">:</div>

            <div class="tp_unit" data-max="59">
                <div class="tp_value">00</div>
                <div class="tp_label">SEC</div>
            </div>
        </div>

        <button id="schedules_add">Add</button>
    </div>

    <div id="schedules_list_container">
        <div>Schedules:</div>
        <div id="schedules">
        </div>
    </div>

    <button id="schedules_defaults">Reset to defaults</button>
</div>
