<div class="switch_header">󰈸 Gas</div>
<label id="btn_gas" class="switch">
    <input id="btn_gas_cb" type="checkbox">
    <div class="button">
        <div class="light"></div>
        <div class="dots"></div>
        <div class="characters"></div>
        <div class="shine"></div>
        <div class="shadow"></div>
    </div>
</label>

<div id="btn_auto_gas" class="switch_slider">
    <input id="btn_auto_gas_cb" type="checkbox" />
    <label class="toggle" for="btn_auto_gas">
        Auto
    </label>
</div>
