<!-- 󰐸󰫗  -->
<div class="switch_header">󰐸 Heat</div>
<label id="btn_heat" class="switch">
    <input id="btn_heat_cb" type="checkbox">
    <div class="button">
        <div class="light"></div>
        <div class="dots"></div>
        <div class="characters"></div>
        <div class="shine"></div>
        <div class="shadow"></div>
    </div>
</label>
<div id="btn_auto_timer" class="switch_slider">
    <input id="btn_auto_timer_cb" type="checkbox" />
    <label class="toggle" for="btn_auto_timer">
        Auto
    </label>
</div>
<div id="schedules_edit">Schedule...</div>
