/* From Uiverse.io by Pradeepsaranbishnoi (with mods by 0000xFFFF) */

.ClockRadioContainer {
    display: flex;
    justify-content: center;
}

.ClockRadioContainer .origin {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 111;
    width: 2px;
    height: 2px;
    margin: -1px 0 0 -1px;
    background-color: #f50;
}

.de {
    user-select: none;
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    background-color: transparent;
}

.de .den,
.de .dene,
.de .denem,
.de .deneme,
.de .light,
.de .dot {
    position: absolute;
    left: 50%;
    top: 50%;
}

.den {
    position: relative;
    width: 220px;
    height: 220px;
    margin: -110px 0 0 -110px;
    border-radius: 100%;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, .6), 0 2px 20px rgba(255, 255, 255, 1);
    background: -webkit-radial-gradient(center, ellipse cover, #888 0%, #333 100%);
}

.dene {
    z-index: 4;
    width: 140px;
    height: 140px;
    margin: -70px 0 0 -70px;
    border-radius: 100%;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}

.denem {
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border-radius: 100%;
    background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 100%;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, .6), 0 8px 20px rgba(0, 0, 0, .9);
    background: -webkit-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
}

/* SWITCH LABELS */

.den .ClockRadio {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.den .ClockRadio label {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 70px;
    margin-top: -35px;
    transform-origin: 0% 50%;
    cursor: pointer;
}

.den .ClockRadio label span {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    font-weight: bold;
    font-size: 15px;
    line-height: 70px;
    text-align: center;
    color: #eee;
    text-shadow: 0 1px 0 #444;
}

/* 8 POSITIONS (OFF + 1–7) 45° apart */

.den .ClockRadio label:nth-child(1) {
    transform: rotate(-90deg);
}

.den .ClockRadio label:nth-child(1) span {
    transform: rotate(90deg);
}

.den .ClockRadio label:nth-child(2) {
    transform: rotate(-45deg);
}

.den .ClockRadio label:nth-child(2) span {
    transform: rotate(45deg);
}

.den .ClockRadio label:nth-child(3) {
    transform: rotate(0deg);
}

.den .ClockRadio label:nth-child(3) span {
    transform: rotate(0deg);
}

.den .ClockRadio label:nth-child(4) {
    transform: rotate(45deg);
}

.den .ClockRadio label:nth-child(4) span {
    transform: rotate(-45deg);
}

.den .ClockRadio label:nth-child(5) {
    transform: rotate(90deg);
}

.den .ClockRadio label:nth-child(5) span {
    transform: rotate(-90deg);
}

.den .ClockRadio label:nth-child(6) {
    transform: rotate(135deg);
}

.den .ClockRadio label:nth-child(6) span {
    transform: rotate(-135deg);
}

.den .ClockRadio label:nth-child(7) {
    transform: rotate(180deg);
}

.den .ClockRadio label:nth-child(7) span {
    transform: rotate(-180deg);
}

.den .ClockRadio label:nth-child(8) {
    transform: rotate(-135deg);
}

.den .ClockRadio label:nth-child(8) span {
    transform: rotate(135deg);
}

.den .ClockRadio input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

/* LIGHT */

.den .light {
    z-index: 1;
    width: 50%;
    height: 100px;
    margin-top: -50px;
    transform-origin: 0% 50%;
    transition: .5s;
    transform: rotate(-90deg);
}

.den .light span {
    opacity: .4;
    position: absolute;
    top: 0;
    left: 15px;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(184, 163, 204, 1) 0%, rgba(159, 197, 224, .42) 42%, rgba(111, 113, 179, 0) 72%, rgba(67, 34, 137, 0) 100%);
}

/* LIGHT POSITIONS */

.den #crs_1:checked~.light {
    transform: rotate(-90deg);
}

.den #crs_2:checked~.light {
    transform: rotate(-45deg);
}

.den #crs_3:checked~.light {
    transform: rotate(0deg);
}

.den #crs_4:checked~.light {
    transform: rotate(45deg);
}

.den #crs_5:checked~.light {
    transform: rotate(90deg);
}

.den #crs_6:checked~.light {
    transform: rotate(135deg);
}

.den #crs_7:checked~.light {
    transform: rotate(180deg);
}

.den #crs_8:checked~.light {
    transform: rotate(-135deg);
}

/* DOT */

.den .dot {
    z-index: 6;
    width: 50%;
    height: 12px;
    margin-top: -6px;
    transform-origin: 0% 50%;
    transition: .5s;
    transform: rotate(-90deg);
}

.den .dot span {
    position: absolute;
    top: 0;
    left: 30px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: -webkit-linear-gradient(top, #dae2e4 0%, #ecf5f4 100%);
}

/* DOT POSITIONS */
.den #crs_1:checked~.dot {
    transform: rotate(-90deg);
}

.den #crs_2:checked~.dot {
    transform: rotate(-45deg);
}

.den #crs_3:checked~.dot {
    transform: rotate(0deg);
}

.den #crs_4:checked~.dot {
    transform: rotate(45deg);
}

.den #crs_5:checked~.dot {
    transform: rotate(90deg);
}

.den #crs_6:checked~.dot {
    transform: rotate(135deg);
}

.den #crs_7:checked~.dot {
    transform: rotate(180deg);
}

.den #crs_8:checked~.dot {
    transform: rotate(-135deg);
}

/* LINES */
.den hr.line {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -1px;
    border-width: 1px 0;
    border-style: solid;
    border-top-color: #3c3d3f;
    border-bottom-color: #666769;
}

.den hr.line:nth-child(1) {
    transform: rotate(-25deg);
}

.den hr.line:nth-child(2) {
    transform: rotate(-70deg);
}

.den hr.line:nth-child(3) {
    transform: rotate(70deg);
}

.den hr.line:nth-child(4) {
    transform: rotate(25deg);
}

.ClockRadio_label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}

#settings_time {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#ClockRadio_extra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;
    padding: 20px;
    max-height: 0;
    align-content: stretch;
    width: fit-content;
}

.ClockRadio_extra_label {
    display: block;
    text-align: left;
    width: 100%;
}

#ClockRadio_extra.show {
    transform: scaleY(1);
    opacity: 1;
}

.ClockRadio_extra_buttons {
    display: block;
    text-align: right;
    width: 100%;
}
