#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 20px;
}

a {
    font-size: 40px;
}

input {
    font-size: 40px;
}

.btn_action {
    font-size: 50px;
}


.fc,
.fr {
    display: flex;
    gap: 30px;
    padding: 10px;
    margin: 10px;
}

.fc {
    flex-direction: column;
}

.fr {
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.text {
    font-size: 30px;
}

button {
    padding: 5px;
    font-size: 20px;
}

.btn_action {
    padding: 5px;
    font-size: 50px;
}

#status {
    gap: 20px;
}

#termcont {
    width: auto;
    height: auto;
    min-width: 300px;
    min-height: 300px;
    padding: 15px;
    font-size: 30px;
}

#term,
#sumtime {
    margin: 15px;
}

#canv {
    width: 60px;
    height: auto;
}
