#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 20px;
}

a {
    font-size: 30px;
}

.fc,
.fr {
    display: flex;
    gap: 5px;
    padding: 3px;
    margin: 10px;
}

.fc {
    flex-direction: column;
}

.fr {
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

#status {
    gap: 20px;
}

#termcont {
    padding: 15px;
    font-size: 30px;
}

#term,
#sumtime {
    width: 580px;
    margin: 15px;
}

#canv {
    width: 60px;
    height: auto;
}
