#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 20px;
}

a {
    font-size: 30px;
}

.fc,
.fr {
    display: flex;
    gap: 5px;
    padding: 3px;
    margin: 10px;
}

.fc {
    flex-direction: column;
}

.fr {
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

#status {
    gap: 20px;
}

#termcont {
    padding: 15px;
    font-size: 30px;
}

#term,
#sumtime {
    width: 560px;
    margin: 15px;
}

#canv {
    width: 60px;
    height: auto;
}

#ClockRadio_extra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;
    padding: 20px;
    max-height: 0;
}

#ClockRadio_extra.show {
    transform: scaleY(1);
    opacity: 1;
    min-height: fit-content;
}
