@import url('/fonts.css');

* {
    color: #DB2828;
    font-family: 'GohuFontMono', monospace;

}

body {
    background-color: white;
    background: #1c1c1c;
    font-size: 30px;
    color: #DB2828;
}


.c0 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.c_col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.c1 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 3px;
}

#settings {
    margin-bottom: 20px;
}

#settings_time {
    margin-bottom: 5px;
}

.text {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 0 black;
}

a {
    font-weight: bold;
    text-shadow: 3px 3px 0 black;
}

.bt_input {
    background-color: #200000;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    padding: 5px;
}


.on {
    color: green;
    background-color: #001000;
    border-top: 2px double #00ff00;
    border-left: 2px double #00ff00;
    border-right: 2px double #008000;
    border-bottom: 2px double #008000;
}


button {
    font-size: 25px;
    color: #ddd;
    padding: 7px;
    border-radius: 2px;
    background-color: #600000;
    font-weight: bold;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    cursor: pointer;
    box-shadow: 5px 5px 0 black;
}

button:hover {
    color: white;
    transform: scaleX(1.09) scaleY(1.09) translateY(-2px);
}


button:active {
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}


#canv {
    background: #808080;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    width: 60px;
    height: 510px;
    box-shadow: 5px 5px 0 black;
    border-radius: 2px;
}


.cb_cont {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.cb_cont_sub {
    display: flex;
    gap: 2px;
    justify-content: center;
}

#logs {
    box-sizing: border-box;
    color: blue;
    padding: 5px;
    font-size: 20px;
    width: calc(90vw - 600px);
    height: 900px;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    overflow-y: auto;
    font-family: monospace;
}

#currents_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.currents {
    font-weight: bolder;
    color: white;
    padding: 5px;
    font-size: 35px;
    width: 700px;
    height: 500px;
    border-radius: 2px;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    font-family: monospace;
    background: #000005;
    box-shadow: 5px 5px 0 black;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

th,
td {
    padding-right: 2px;
}

th {
    background-color: #f2f2f2;
}

.currents_label {
    text-align: right;
    padding-right: 40px;
}

.currents_text {
    text-align: left;
}

#term {
    font-size: 15px;
    font-family: monospace;
}

