@import url('/fonts.css');

* {
    color: white;
    font-family: 'GohuFontMono', monospace;
}

body {
    background-color: white;
    background: #1c1c1c;
    color: #DB2828;
}

a {
    color: #DB2828;
    text-shadow: 3px 3px 0 black;
}


#controls,
#status {
    display: inline-block;
}

.text {
    color: #DB2828;
    text-shadow: 3px 3px 0 black;
}

input {
    background-color: #200000;
    color: white;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    padding: 5px;
}

input::selection,
input::-moz-selection {
    color: #1c87c9;
    background: red;
    border: 2px solid red;
}

.on {
    color: green;
    background-color: #001000;
    border-top: 2px double #00ff00;
    border-left: 2px double #00ff00;
    border-right: 2px double #008000;
    border-bottom: 2px double #008000;
}

button {
    color: #ddd;
    border-radius: 2px;
    background-color: #600000;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    cursor: pointer;
    width: fit-content;
    box-shadow: 5px 5px 0 black;
    flex: 0 0 auto;
}

button:hover {
    color: white;
    transform: scaleX(1.09) scaleY(1.09) translateY(-2px);
}


button:active {
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}

#status {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#termcont {
    color: white;
    border-radius: 2px;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    font-family: monospace;
    background: #000005;
    box-shadow: 5px 5px 0 black;
}

#term {
    word-break: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    text-overflow: clip;
}

#sumtime {
    margin: 0;
    padding: 0;
}

#canv {
    background: #808080;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    box-shadow: 5px 5px 0 black;
    border-radius: 2px;

}
