@import url('/fonts.css');

* {
    color: white;
    font-family: 'GohuFontMono', monospace;
}

body {
    background-color: white;
    background: #1c1c1c;
    font-size: 30px;
    color: #DB2828;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50px;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.f_sb {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 3px;
}

#settings {
    margin-bottom: 20px;
}

#settings_time {
    margin-bottom: 5px;
}

.text {
    color: #DB2828;
    font-size: 20px;
    text-shadow: 3px 3px 0 black;
}

a {
    color: #DB2828;
    text-shadow: 3px 3px 0 black;
}

#txt_input {
    background-color: #200000;
    font-size: 20px;
    color: white;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    padding: 5px;
}


.on {
    color: green;
    background-color: #001000;
    border-top: 2px double #00ff00;
    border-left: 2px double #00ff00;
    border-right: 2px double #008000;
    border-bottom: 2px double #008000;
}


button {
    font-size: 25px;
    color: #ddd;
    padding: 7px;
    border-radius: 2px;
    background-color: #600000;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    cursor: pointer;
    box-shadow: 5px 5px 0 black;
}

button:hover {
    color: white;
    transform: scaleX(1.09) scaleY(1.09) translateY(-2px);
}


button:active {
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}



#status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#term {
    color: white;
    padding: 15px;
    font-size: 30px;
    width: auto;
    height: auto;
    min-width: 700px;
    min-height: 500px;
    border-radius: 2px;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    font-family: monospace;
    background: #000005;
    box-shadow: 5px 5px 0 black;
}

#canv {
    background: #808080;
    border-top: 2px double #ff0000;
    border-left: 2px double #ff0000;
    border-right: 2px double #800000;
    border-bottom: 2px double #800000;
    width: 60px;
    height: auto;
    box-shadow: 5px 5px 0 black;
    border-radius: 2px;
}

#sumtime {
    padding: 10px;
}

