a {
    font-size: 10px;
}

input {
    font-size: 15px;
}

.btn_action {
    font-size: 15px;
}


.fc,
.fr {
    display: flex;
    gap: 5px;
    margin: 3px;
}

.fc {
    flex-direction: column;
}

.fr {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.text {
    font-size: 10px;
}

.btn_action {
    padding: 5px;
    font-size: 24px;
}

#status {
    gap: 3px;
    margin-bottom: 15px;
}

#termcont {
    overflow: hidden;
    padding: 5px;
    font-size: 18px;
    height: auto;
    min-width: 100px;
    min-height: 100px;
}

#term,
#sumtime {
    width: fit-content;
    margin: 5px;
}

#canv {
    width: 10px;
    height: auto;
}
