a {
    font-size: 10px;
}

input {
    font-size: 15px;
}

.fc,
.fr {
    display: flex;
    gap: 5px;
    margin: 3px;
}

.fc {
    flex-direction: column;
}

.fr {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.frc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.text {
    font-size: 10px;
}

.btn_action {
    padding: 5px;
    font-size: 20px;
}

#status {
    gap: 3px;
    margin-bottom: 15px;
}

#termcont {
    padding: 5px;
    font-size: 15px;
}

#term,
#sumtime {
    width: calc(100vw - 100px);
    min-width: calc(100vw - 100px);
}

#term,
#sumtime {
    margin: 5px;
}

#canv {
    width: 10px;
    height: auto;
}
