#edit_schedules {
    cursor: pointer;
}

#schedules-overlay {
    position: fixed;
    inset: 0;
    z-index: 999;

    /* Glass / blur effect */
    background: rgba(2, 6, 23, 0.55);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);

    /* Fade animation */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

/* Active / visible */
#schedules-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#schedules-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;
}

#schedules-list-container {
    background: #020617;
    border-radius: 16px;
    padding: 10px;
}

#schedules-time-pickers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px 0 20px 0;
    gap: 10px;
    align-items: center; /* vertical */
}

#schedules-time-pickers-arrow {
    font-size: 40px;
}

.schedules-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
