<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAS CTRL SERVER</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="/index.css">
    <script defer type="text/javascript" src="/index.js"></script>
</head>

<body>
    <div id="mainCont">
        <div id="bt_cont">
            <div id="bt_cont_head"><span id="bt_title">Turn Off Heating Timer</span></div>
            <div id="bt_cont_body">
                <div style="display: flex; align-items: center; gap: 10px;"><span class="bt_text">Seconds:</span><input
                        type="text" id="txt_input" class="bt_input"></div>
                <div id="btn_cont">
                    <button id="button_5min" class="bt_button">5 min</button>
                    <button id="button_8min" class="bt_button">8 min</button>
                    <button id="button_10min" class="bt_button">10 min</button>
                    <button id="button_15min" class="bt_button">15 min</button>
                    <button id="button_20min" class="bt_button">20 min</button>
                    <button id="button_25min" class="bt_button">25 min</button>
                </div>
                <button class="bt_button">Toggle</button>
                <div id="cb_pinger_cont" class="cb_cont">
                    <input id="cb_pinger" type="checkbox">
                    <label id="cb_pinger_label">Ping every 5000 ms</label>
                </div>
                <div id="cb_autotimer_cont" class="cb_cont">
                    <input id="cb_autotimer" type="checkbox">
                    <label id="cb_autotimer_label">Auto Timer</label>
                </div>
                <div id="cb_autogas_cont" class="cb_cont">
                    <input id="cb_autogas" type="checkbox">
                    <label id="cb_autogas_label">Auto Gas</label>
                </div>
                <div class="bt_text">...</div>
                <div id="currents_cont">
                    <div id="currents">Loading...</div>
                    <canvas id="currents_canvas"></canvas>
                </div>
            </div>
        </div>
        <div id="logs"></div>
    </div>
</body>

</html>
