<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAS CTRL SERVER</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="/index.css">
    <script defer type="text/javascript" src="/index.js"></script>
</head>

<body>
    <div class="c1">
        <div>

            <div id="settings" class="c1">

                <div>
                    <div id="settings_time" class="c1">
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <span class="bt_text">Seconds:</span>
                            <input type="text" id="txt_input" class="bt_input">
                        </div>
                    </div>

                    <div id="times_cont" class="c1">
                        <button id="button_5min" class="btn_time">5 min</button>
                        <button id="button_8min" class="btn_time">8 min</button>
                        <button id="button_10min" class="btn_time">10 min</button>
                        <button id="button_15min" class="btn_time">15 min</button>
                        <button id="button_20min" class="btn_time">20 min</button>
                        <button id="button_25min" class="btn_time">25 min</button>
                    </div>
                </div>

                <div id="bt_cont" class="c_col">

                    <div class="c0">
                        <div class="c1">
                            <span>Auto Timer:</span>
                            <span id="auto_timer">{{ auto_timer }}</span>
                        </div>
                        <button id="toggleTimerButton" onclick="toggleAutoTimer()">
                            {{ "Turn OFF" if auto_timer else "Turn ON" }}
                        </button>
                    </div>

                    <div class="c0">
                        <div class="c1">
                            <span>Auto Gas:</span>
                            <span id="auto_gas">{{ auto_gas }}</span>
                        </div>
                        <button id="toggleGasButton" onclick="toggleAutoGas()">
                            {{ "Turn OFF" if auto_gas else "Turn ON" }}
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div id="currents_cont">
                    <div id="currents">
                        <table>
                            <tbody id="currents_tbody">

                            </tbody>
                        </table>
                    </div>
                    <canvas id="currents_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
